html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
}
body {
    margin: 0;
    opacity: 0.5;
    padding-left: 20px;
    padding-right: 20px;
}
h2,
h3,
h4,
h5 {
    font-weight: bold;
    background-color: black;
    color: seashell;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
h3 {
    font-size: 1.3rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.1rem;
    line-height: 2.0rem;
}
h5 {
    font-size: 1rem;
}
p {
    color: seashell;
    text-align: center;
    background-color: black;
    line-height: 2.5rem;
    margin: 0;
}
a {
    text-decoration: underline;
    color: seashell;
}

.nav {
    height: 69px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: fixed;
}

.nav-container {
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    height: 50px;
}

ul.sub-nav {
    list-style-type: none;
}

li.sub-nav-list {
    display: inline;
    margin-left: 16px;
}

.top {
    top: 69px;
    display: flex;
    justify-content: center;
    height: 700px;
    margin-bottom: 64px;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery {
    margin-top: 24px;
    margin-bottom: 64px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.thumb {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
h2.no-bg {
    background-color: transparent;
    margin-bottom: 15px;
}
.location-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.location-wrap {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-bottom: 120px;
}
#left-align {
    text-align: left;
    margin-bottom: 20px;
}
